---
import Layout from "../components/Layout.astro";
import { AppShellComponent } from "../components/AppShell";
---

<Layout>
  <main class="mx-auto container my-8">
    <AppShellComponent client:load />
  </main>
</Layout>
