---

---

<main class="border p-4 m-4 rounded">
  <div class="flex flex-col gap-4">
    <div class="flex items-center">
      <span class="font-bold">Centered Text</span>
    </div>
    <div class="flex gap-2">
      <div class="flex">
        <span class="text-justify"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quod
          magnam tempora non sint quidem nulla itaque alias esse commodi
          pariatur accusantium sunt, et corporis quo delectus dolores dolorem
          recusandae!</span
        >
      </div>
      <div class="flex">
        <span class="text-justify"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quod
          magnam tempora non sint quidem nulla itaque alias esse commodi
          pariatur accusantium sunt, et corporis quo delectus dolores dolorem
          recusandae!</span
        >
      </div>
    </div>
  </div>
</main>
