---

---

<footer class="bg-neutral-900 text-white p-4">
  <div class="flex items-center gap-4 justify-end">
    <span>
      Made by <a
        href="https://github.com/usamazansari"
        class="text-indigo-400 cursor-pointer"
        target="_blank">@usamazansari</a
      >
    </span>
  </div>
</footer>
